@import 'c3.min';

$gray: #eee;
$money: #0da445;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.c3-axis {
   fill: #5b5959;
   font-size:12px;
}

path.domain { stroke: #fff; }
.tick text { fill: #fff; }
.c3-legend-item text { fill: #fff; }
.c3 line { stroke: #fff; }
.c3-tooltip td {
    font-size:13px;
    padding: 3px 6px;
    background-color:#000;
    border-left:1px dotted #DCDCDC;
    color: #fff;
}
