@import 'c3.min';
@import '../app/app';
@import '../components/components';

$gray: #eee;
$money: #0da445;
$white: #fff;

body {
    color: rgba(255,255,255,1.0);
    background-color: rgb(48,48,48);
}

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: $white;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: $white;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.c3-axis {
   fill: #5b5959;
   font-size:12px;
}

path.domain { stroke: $white; }
.tick text { fill: $white; }
.c3-legend-item text { fill: $white; }
.c3 line { stroke: $white; }
.c3-tooltip td {
    font-size:13px;
    padding: 3px 6px;
    background-color:#000;
    border-left:1px dotted #DCDCDC;
    color: $white;
}
