<div ng-controller="BulkAnalysisController as vm">
  <md-content layout-padding layout="row" layout-align="start end">
    <div layout="row">
      <div class="import-container" layout="column" flex>
        <div flex>
          <xls-import handler="vm.read" error="vm.error"></xls-import>
        </div>
        <div flex>
          <md-progress-linear md-mode="determinate" value="{{vm.waiting}}"></md-progress-linear>
          {{vm.waiting | percentage:2 }}
        </div>
      </div>
      <div flex="25">
        <md-checkbox ng-model="vm.filterOptions.actionable" aria-label="Show actionable stocks">
          Only actionable stocks
        </md-checkbox>
      </div>
      <div flex="10">
        <md-checkbox ng-model="vm.filterOptions.buy" aria-label="Show buy stocks">
          Buy
        </md-checkbox>
      </div>
      <div flex="10">
        <md-checkbox ng-model="vm.filterOptions.sell" aria-label="Show sell stocks">
          Sell
        </md-checkbox>
      </div>
    </div>
  </md-content>
  <md-content>
    <div class="backtest-graph">
      <backtest-graph ticker="vm.stock" difference="vm.difference"></backtest-graph>
    </div>
    <div class="inner-container">
      <table class="md-table" md-colresize="md-colresize">
        <thead>
          <tr class="md-table-headers-row">
            <th class="md-table-header">Stock</th>
            <th class="md-table-header">Returns</th>
            <th class="md-table-header">Trades</th>
            <th class="md-table-header">Recommended Difference</th>
            <th class="md-table-header">Last Price</th>
            <th class="md-table-header">Recommendation</th>
          </tr>
        </thead>
        <tbody>
          <tr class="md-table-content-row" ng-repeat="item in vm.bulkData | filter:vm.filter" ng-click="vm.setGraph(item.stock,item.recommendedDifference)">
            <td class="md-table-content">{{ item.stock }}</td>
            <td class="md-table-content">{{ item.totalReturns | percentage:2 }}</td>
            <td class="md-table-content">{{ item.totalTrades }}</td>
            <td class="md-table-content">{{ item.recommendedDifference}}</td>
            <td class="md-table-content">{{ item.lastPrice }}</td>
            <td class="md-table-content">{{ item.trending }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-content>
</div>
