<div ng-controller="BulkAnalysisController as vm">
  <md-content layout-padding layout="row" layout-align="start end">
    <div layout="row">
        <div flex>
            <xls-import handler="vm.read" error="vm.error"></xls-import>
        </div>
    </div>
    <div layout="row">
        <div flex>
          <md-checkbox ng-model="vm.actionableFilter" aria-label="Show actionable stocks">
            Only actionable stocks
          </md-checkbox>
        </div>
      <div flex>
          <md-progress-linear md-mode="determinate" value="{{vm.waiting}}"></md-progress-linear>
      </div>

    </div>
  </md-content>
  <md-content>
    <backtest-graph ticker="stock" difference="difference"></backtest-graph>
    <table class="md-table" md-colresize="md-colresize">
      <thead>
        <tr class="md-table-headers-row">
          <th class="md-table-header">Stock</th>
          <th class="md-table-header">Returns</th>
          <th class="md-table-header">Recommended Difference</th>
          <th class="md-table-header">Min Price</th>
          <th class="md-table-header">Max Price</th>
          <th class="md-table-header">Last Price</th>
          <th class="md-table-header">Recommendation</th>
        </tr>
      </thead>
      <tbody>
        <tr class="md-table-content-row" ng-repeat="item in vm.bulkData | filter:vm.filter" ng-click="vm.setGraph(item.stock,item.recommendedDifference)">
          <td>
            <div class="md-table-thumbs">
              <h3>{{ item.stock }}</h3>
            </div>
          </td>
          <td class="md-table-content">{{ item.totalReturns | percentage:2}}</td>
          <td class="md-table-content">{{ item.recommendedDifference}}</td>
          <td class="md-table-content">{{ item.lower.price }}</td>
          <td class="md-table-content">{{ item.upper.price }}</td>
          <td class="md-table-content">{{ item.lastPrice }}</td>
          <td class="md-table-content">{{item.trending}}</td>
        </tr>
      </tbody>
    </table>
  </md-content>
</div>
