.fixed-plugin {
    position: fixed;
    top: 150px;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
}
.md-button.md-icon-button.cart {
    fill: #FFFFFF;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    display: inline-block;
    line-height: 56px;
    min-width: 0;
    width: 56px;
    height: 56px;
}
