<div layout="row" ng-controller="BacktestController as vm">
  <div layout="column" class="relative" layout-fill role="main">
    <md-content flex>
      <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
          <div layout="column">
            <div flex>
              <form name="inputForm" layout-gt-sm="row" ng-submit="vm.runTest()" novalidate>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Security</label>
                  <input ng-model="vm.security" placeholder="GOOG" ng-pattern="/\S{1,10}/" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="date" name="input" ng-model="vm.backtestDate" min="vm.backtestStartDate" placeholder="Beginning" required />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="date" name="input" ng-model="vm.backtestStartDate" max="vm.backtestDate" placeholder="End" required />
                </md-input-container>
                <md-input-container class="md-icon-float md-icon-right md-block">
                  <label>Accepted Difference</label>
                  <input ng-model="vm.acceptedDifference" type="number" step="0.001">
                </md-input-container>
                <div flex>
                  <span ng-show="!vm.resolving">
                    <md-button type="submit" class="md-primary md-raised">Run Test</md-button>
                  </span>
                  <span ng-show="vm.resolving">
                    <md-button ng-disabled="true" class="md-primary"><md-progress-circular md-mode="indeterminate"></md-progress-circular></md-button>
                  </span>
                </div>
              </form>
            </div>
            <div layout="row" layout-xs="column">
                <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Trade Signals</span>
                      </md-card-title-text>
                    </md-card-title>
                  <md-card-content>
                      <div class="md-tile-content">
                        <c3chart bindto-id="chart" chart-data="vm.datapoints" chart-columns="vm.datacolumns"
                            chart-x="vm.datax" enable-zoom="true">
                          <chart-axis>
                            <chart-axis-x axis-id="x" axis-type="timeseries" axis-x-format="%Y-%m-%d">
                              <chart-axis-x-tick tick-format-function="vm.dateFn" />
                            </chart-axis-x>
                          </chart-axis>
                          <chart-tooltip title-format-function ="vm.titleFormatFunction" content-format-function="vm.tooltipContents"/>
                        </c3chart>
                      </div>
                  </md-card-content>
                </md-card>
                <md-card flex-xs flex-gt-xs="50">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Mean Reversion</span>
                        <span class="md-subhead">Trading when 30-day moving average crosses the 90-day moving average based on
                          trending direction.</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-list>
                      <md-list-item class="md-2-line" layout="row"
                          layout-wrap>
                        <div class="performance-panel md-item-text md-whiteframe-z1" flex>
                          <h3>{{vm.performance | percentage:2}}</h3>
                          <p>Performance</p>
                        </div>
                      </md-list-item>
                      <md-list-item class="md-2-line" layout="row"
                          layout-wrap>
                        <div class="performance-panel md-item-text md-whiteframe-z1" flex>
                          <h3>{{vm.prices.lowerbound | currency}}-{{vm.prices.upperbound | currency}}</h3>
                          <p>Next Price Trigger</p>
                        </div>
                      </md-list-item>
                      <md-list-item class="md-2-line" layout="row"
                          layout-wrap>
                        <div class="performance-panel md-item-text md-whiteframe-z1" flex>
                          <h3>{{vm.trade}}</h3>
                        </div>
                      </md-list-item>
                      <md-list-item class="md-2-line" layout="row"
                          layout-wrap>
                        <div class="performance-panel md-item-text md-whiteframe-z1" flex>
                          <h3>{{vm.recommendedDifference}}</h3>
                          <p>Recommended Difference</p>
                        </div>
                      </md-list-item>
                    </md-list>
                </md-card>
            </div>
          </div>
        </div>
      </ui-view>
    </md-content>
  </div>
</div>
