TEST
<md-card-content>
    <div class="md-tile-content">
      <c3chart bindto-id="chart" chart-data="vm.datapoints" chart-columns="vm.datacolumns"
          chart-x="vm.datax" enable-zoom="true">
        <chart-axis>
          <chart-axis-x axis-id="x" axis-type="timeseries" axis-x-format="%Y-%m-%d">
            <chart-axis-x-tick tick-format-function="vm.dateFn" />
          </chart-axis-x>
        </chart-axis>
        <chart-tooltip title-format-function ="vm.titleFormatFunction" content-format-function="vm.tooltipContents"/>
      </c3chart>
    </div>
</md-card-content>
